
alembic
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
passlib[bcrypt]
python-jose[cryptography]
python-multipart
#pydantic
pydantic<2
psycopg2-binary
email-validator>=1.3.0
qrcode
pillow
pyzbar
numpy
onnxruntime
opencv-python-headless
prometheus-client
loguru
#fastapi-sentry-sdk
sentry-sdk>=1.7.0
reportlab
python-dotenv
